<!DOCTYPE html>
<html>
<head>
  <title>Delete task</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Delete task</h1>
    <form id="delete-task" action="{{url_for('deleteTask')}}" method="DELETE">
      <input type="text" name="taskId" id="taskId" placeholder="Task id">
      <input id="submit" type="submit" value="Delete"></button> 
      <div>
        <p bold>{{success}} {{error}}</p>
       </div> 
    </form>
    <div>
      <a href="{{url_for('tasksPage')}}">
        <button type="button">Back</button>
      </a>
    </div>
  </div>

</body>
</html>
    
